#my_body
{
  background-color:blue;
}
#logo
{
  
  height:100px;
  width:100px;
}
section
{
  color:whitesmoke;
  text-align:center;
}
#firstp
{
  text-align:center;
  color:whitesmoke;
}
OL
{
  text-align:center;
  color:whitesmoke;
}